.login {
    background-image: linear-gradient(to right, white 50%, #f9f9f9 50%, );

}
.img-fluid{
    display: none;
    @media screen and (min-width:992px) {
        display: flex;
    }
}

.form {
    background-color: #f9f9f9;
    border-radius: 20px;
    margin-top: -65px;
    padding-left: 90px;
    padding-right: 90px;

    h6 {
        padding-top: 70px;
        font-family: Lucida Calligraphy;
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        color: #525252;
        

        span {
            padding-left: 10px;
        }
    }

    
    div {
        
        display: flex;
        padding-bottom: 10px;

        .btn1 {
            background-color: white;
            margin-right: 20px;
            border-color: #FFA500;
            border-radius: 5px;
            padding: 5px 10px;
            font-family: Lucida;
            font-weight: 600;
            font-size: 16px;
            margin-top: 20px;

            img {
                padding-right: 10px;
            }

            &:hover {
                background-color: #FFA500;
            }
        }

        .btn2 {
            @extend .btn1;
            margin-right: 0px;
            margin-top: 20px;
        }

    }
    h5{
        font-family: Lucida Calligraphy;
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        color: #525252;
        text-align: center; 
        padding-top: 20px; 
    }
   

    Form {

        padding-bottom: 30px;
        .group {


            .input {

                border-top: none !important;
                border-right: none;
                border-left: none;
                background-color: transparent;
                border-bottom: 2px solid black;
                border-radius: 0px;
                
            }


            .form-check{
                .form-check-input{
                  border-bottom: 1px solid #000000;
                }
                .form-check-label{
    
                    font-family:  Lucida;
                    font-size: 12px;
                    color: #A1A1A1;
                    font-weight: 600;
                    padding-left: 10px;
                }
            }
        }
        

        .submitbtn {
            width: 100%;
            border-top: none !important;
            border-right: none;
            border-left: none;
            background-color: transparent;
            border-bottom: 2px solid #FF9B21;
            border-radius: 0px;
            color: #A1A1A1;
            font-family: lucida;
            margin-bottom: 30px;

            &:hover {
                color: #FF9B21;

            }

        }

    }
    .account{
        font-family: Lucida;
        font-size: 14px;
        color: #A1A1A1;
        padding-bottom: 25px;
        span{
            .login{

                color:#FF9B21;
                padding-left: 5px;
            }
        }
    }

    
   
}