@import 'colour';
@import 'varaibles';

.sidebar{
    background-color: white;
    width: 230px;
    padding-left: 2vw;
    height: 100%;
    position:absolute;
    
    overflow: auto ;
    @media screen and (min-width:830px) {
        position: fixed;
        left: 0px;
        top: 0px;
        
    }
   
    
    .sidebarlogo{
        width: 200px;
        margin-top: -30px;
        margin-bottom: -30px;
    
        
    }
    .links{
        display: flex;
    
        text-decoration: none;
        p{
        font-style: italic;
        font-family: $fontfamily;
        font-weight: 400;
        padding-left: 10px;
        font-size: 24px;
        
         }
         .icon{
            align-self: center;
            color: $colouricon;
            font-size: 23px;
            
         }
        
        
    }
    
}
