@import 'colour';
.sidebar{
    background-color: $colourone;
    width: 230px;
    padding-left: 2vw;
    padding-right: 2vw;
    .sidebarlogo{
        width: 200px;
        margin-top: -20px;
    
        
    }
    
}