.logo {
  width: 150px;
  margin-top: -50px;
  margin-bottom: -50px;
}

.arrow {
  width: 10px;
}

.links {
  font-family: lucida;
  font-weight: 600;
  color: #404040;
  font-size: 20px;
}

.home {
  color: #FFA500 !important;
  font-family: lucida;
  font-weight: 600;
  font-size: 20px;
}

.sectionOne {
  color: #404040;
}

.sectionOne h3 {
  font-family: lucida;
  font-weight: 600;
  font-size: 34px;
  line-height: 44.75px;
  padding-top: 60px;
}

.sectionOne p {
  font-family: lucida;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 80px;
}

.sectionOne button {
  background: #FFA500;
  color: white;
  font-family: lucida;
  font-weight: 600;
  border-radius: 20px;
  font-size: 22px;
  padding: 5px 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: #FFA500;
}

.sectionOne button:hover {
  background-color: green;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

footer .uvent {
  display: none;
}

footer .copyright {
  display: contents;
}

footer div:first-child ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: -50px;
}

footer div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-size: 20px;
}

footer button {
  background: #FFA500;
  color: white;
  font-family: lucida;
  font-weight: 600;
  border-radius: 20px;
  border: #FFA500;
  font-size: 20px;
  padding: 5px 15px;
}

footer button .icon {
  font-size: 27px;
}

footer button:hover {
  background-color: green;
}

@media screen and (max-width: 991px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 20px;
  }
  footer div:first-child ul {
    margin-left: -10px;
    gap: 50px;
  }
  footer .uvent {
    display: contents;
    text-align: center;
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .copyright {
    display: none;
  }
  footer div:nth-child(2) {
    padding-bottom: 20px;
    padding-top: 10px;
  }
  footer button {
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  footer button .icon {
    font-size: 20px;
  }
}

@media screen and (max-width: 437px) {
  footer div:first-child ul {
    margin-left: -10px;
    gap: 20px;
  }
}

.form-select {
  width: 100px;
}
/*# sourceMappingURL=Navbar.css.map */