.login{
    background-image: linear-gradient( to right, white 50%,  #f9f9f9 50%,);
    
}
.formSide{
    background-color: #f9f9f9;
    border-radius: 20px;
    margin-top: -65px;
    padding-left: 90px;
    padding-right: 90px;
    h6{
        padding-top: 70px;
    }
}
