.business{
    height: 1000px;
    padding-top: 25px; 
    
    font-family: lucida;
    font-weight: 600;
    font-size: 20px;
    padding-right: 3vw;
    color: #000000;
    @media screen and (min-width:830px) {
        margin-left: 200px;
        
    }
    .firstSection {
        display: flex;
        justify-content: space-between;
       padding-top: 20px;

        span:first-child {
            font-family: Lucida;
            font-weight: 400;
            font-size: 20px;
            display: flex;
            gap: 10px;

            p:first-child{
                font-style: italic;

            }
        }

        span:nth-child(2) {
            display: flex;
            align-items: center;
            background: #365A96;
            padding: 0px 15px;
            gap: 10px;
            font-size: 13px;
            color: white;
            border-radius: 15px;
            border: none;

        }
    }
}