.Purchase{
    height: 1000px;
    padding-top: 25px; 
    color: #FFA500 !important;
    font-family: lucida;
    font-weight: 600;
    font-size: 20px;
    @media screen and (min-width:830px) {
        margin-left: 200px;
        
    }
}